nav {
    font-family: 'Varela Round', sans-serif;
}

.donateButtonDiv {
    margin-right: 1rem;
}

.donateButton {
    height: 52px;
    width: 100px;
    border-radius: 10px;
    background-color: #025289;
    border: 0;
    color: white;
    /* margin-left: 100%; */
}

.mainNavItems {
    padding-right: 2rem;
}

  .drillWellBlock {
      background-color: #ed8240;
  }

  #slider-animation{max-height:550px;}
  .heading-box h2{ width:100%; color: red; }
  h2, p{color:#fff; font-size: 2vw;}
  .carousel-item img{width:100%;}
  .text-box {
      position: absolute;
      top: 25%;
      left: 15%;
      right: 15%;
      color: #000;
      transform: translateY(-50%);
  }