nav {
    font-family: 'Varela Round', sans-serif;
}

.donateButtonDiv {
    margin-right: 1rem;
}

.donateButton {
    height: 70px;
    width: 100px;
    border-radius: 10px;
    background-color: #025289;
    border: 0;
    color: white;
    /* margin-left: 100%; */
}

#navbarSupportedContent {
    /* margin-right: 4rem; */
}

.mainNavItems {
    padding-right: 2rem;
}

img {
    width: 100%;
}
.carousel-item {
    height: 700px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 700px;
  }